#cabin {
  position: relative;
  height: 100%;
  width: 100%;

  background-image: url("../assets/images/mincecraftCabin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#rainOne {
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: polygon(6% 14%, 49% 17%, 49% 83%, 7% 86%);
}
